---
layout: default
---

<div id="home">

	<h2>
		Social
	</h2>
	<ul>
		<li><a href="https://mas.to/@keba">@keba@mas.to</a></li>
	</ul>

	<h2>Проекти</h2>
	<ul>
		<li>
      		<a href="https://pythonhub.dev/">
        		<img src="/assets/img/pythonhub.png" width="16" height="16"/> Python Hub&nbsp;&mdash;
				фід новин, публікацій і&nbsp;і проектів для&nbsp;пітоністів.
      		</a>
		</li>
		<li><a href="https://ruslanium.com/">Ruslan Photography</a></li>
		<li><a href="https://textpageapp.rukeba.com/">
				<img src="/assets/img/textpage.app.png" width="16" height="16"/> textpage.app</a>
			—&nbsp;Dead Simple In-browser Text Editor</li>
		<li><a href="https://chords.rukeba.com/">Guitar Chords Chart</a></li>
	</ul>

	<h2>Різне</h2>
	<ul>
		<li><a href="/archive/">Архів</a></li>
	</ul>

</div>
